 <div class="container">
    <div class="card">
        <h4 class="card-title">My Cart</h4>
        <div class="card-body text-center">
        <span *ngIf="cart.length===0">
            <h5>Your cart is Empty!</h5>
            <h6>Add item to it now</h6>
            <button class="btn btn-primary" routerLink="">Shop Now...</button>
        </span>
        <span *ngIf="cart.length>0">
            <div class="table-responsive">
                <table class="table" id="datatable">
                <tbody>
                    <tr ><div *ngFor="let item of cart">
                        <td style="width:150px"><img src={{item.image}} style="width: 150px; height: 150px;"></td>
                        <td style="padding-top:50px ;width:500px"><h5>{{item.title}} <br> Rs. {{item.price}}</h5></td>
                        <td style="width:100px"><button style="float:right; margin-top: 0px;" (click)="delete(item)"><i class="fa fa-close"></i></button>
                        <br><br><input type="text" name="quantity" style="position:absolute; margin-bottom: 0%; width:40px; text-align: center;" [(ngModel)]="item.quantity" (change)="cartservice.gettotalprice()"></td> </div>
                        <td><table class="table-responsive" id="amountcalc">
                            <tbody>
                                <tr>
                                    <td><h5>Total Amount</h5></td>
                                    <td style="padding: 20px;"><h5>Rs.{{cartservice.totalprice}}</h5></td>
                                </tr>
                                <tr>
                                    <td>Total items</td>
                                    <td style="padding: 20px;">{{cartservice.cart.length}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><button class="btn btn-outline-primary" style="width:100%;" (click)="checout()">Checkout </button></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><button class="btn btn-outline-primary" style="width: 100%;" routerLink="">Back to Shopping</button></td>
                                </tr>
                            </tbody>
                          </table></td>
                    </tr>
                </tbody>
                </table>
            </div>              
        </span>
    </div>
    </div>
</div>