<header>
<nav class="navbar navbar-dark bg-secondary">
  <div class="container-fluid">
    <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <h3 style="text-align: center; color: white;"> E-Shopping</h3>
  <button style="float: right;" class="btn btn-secondary" (click)="show()">
    <i class='fas fa-shopping-cart'></i>
    <div class="badge bg-danger">{{cartdataservice.totalitemnumber}}</div>
  </button>
</div>
</nav>
</header>

<div [ngbCollapse]=isCollapsed id="navbarToggleExternalContent">
  <div class="side-nav-style">
  <div class="side-nav-content">
    <ul class="nav-list">
      <li class="nav-list-item"><a routerLink="" class="menulink" (click)="isCollapsed = !isCollapsed">Home</a></li>
      <li class="nav-list-item"><a routerLink="cart" class="menulink" (click)="isCollapsed = !isCollapsed">Cart</a></li>
      <li class="nav-list-item"><a routerLink="profile" class="menulink" (click)="isCollapsed = !isCollapsed">Profile</a></li>
      <li class="nav-list-item"><a routerLink="orderhistory" class="menulink" (click)="isCollapsed = !isCollapsed">Order History</a></li>
    </ul>
  </div>
  </div>
</div>
<router-outlet></router-outlet>
<div class="row">
  <div class="col">
    <hr>
    <small style="margin-left: 50%;">&copy;Fightrons</small>
  </div>
</div>