<div class="container">
    <div class="row">
      <h4 class="offset-md-1">Categories</h4>
          <button class="gradient offset-md-1" *ngFor="let category of categories">
            {{category}}
          </button>
    </div>
  </div>
  
  <div class="container">
    <h4 class="offset-md-1">New Products</h4>
  </div>
  
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let item of cartservice.productlist">
      <div class="card col-md-3 offset-md-1">
        <img src="{{item.image}}" (click)="show(item.id)">
        <h5 class="item-title">{{item.title}}</h5>
        <p><strong>Price : </strong>Rs. {{item.price}}</p>
        <p>{{item.category}}</p>
        <!-- <p>{{item.description}}</p> -->
        <button class="btn btn-primary" (click)="addtocart(item)">Add to cart</button>
      </div>
    </ng-container>
    </div>
  </div>